#cv-map {
    background-color: black;
    border: 1px solid gray;
    width: 1200px;
    height: 720px;
}

#div-chatbox {
    flex: 1;
    color: wheat;
    background-color: black;
    border: 1px solid white;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 4px;
    text-align: center;
}

.div-logline {
    display: flex;
    flex-wrap: wrap;
    min-height: 6px;
    margin-top: 2px;
    margin-left: 2px;
}

#inp-chatbox {
    width: 100%;
    box-sizing: border-box;
}

#div-inv {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin-top: 4px;
}

.div-invitem {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    background-color: black;
    margin: 2px;
}