body {
    background-color: rgb(40, 40, 40);
}

canvas {
    border: 1px solid gray;
}

#cv-map {
    width: 1200px;
    height: 720px;
}

#div-chatbox {
    flex: 1;
    color: wheat;
    border: 1px solid white;
    overflow: auto;
}

#div-inv {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin-top: 4px;
}

.div-invitem {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    background-color: black;
    margin: 2px;
}